<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496629302734-nq59q89lujmn1jm36qfibnjt7c76nuf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496629302734-nq59q89lujmn1jm36qfibnjt7c76nuf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBVbZ1vnRvoDg7P82wLQZ9qJm8U6NjwH_M</string>
	<key>GCM_SENDER_ID</key>
	<string>496629302734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatmeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatme-3b0e3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatme-3b0e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496629302734:ios:87a246d0b9860901dc979f</string>
</dict>
</plist>